* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0; }

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Merriweather', serif; }

a, p, span, li {
  font-family: 'Fira Sans', sans-serif; }

.header {
  display: flex;
  justify-content: center; }
  .header .header-center-wrap {
    align-self: center;
    margin-top: -9.375rem; }
    .header .header-center-wrap .header-title {
      text-align: center;
      font-size: 6.875rem;
      color: white; }
    .header .header-center-wrap .header-button-wrap {
      display: flex;
      justify-content: center; }
      .header .header-center-wrap .header-button-wrap .header-button {
        margin: 0 0.625rem;
        width: 10rem;
        height: 2.5rem;
        border: solid black 0.0625rem;
        background-color: white; }

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 0;
  position: sticky;
  background: linear-gradient(black, black), url(../images/bg-aside.jpg);
  width: 3.75rem;
  transition: all ease 180ms;
  height: 100vh; }
  .aside-wrap {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin-left: 0.875rem;
    overflow: hidden; }
    .aside-wrap-text {
      margin-left: 3.125rem;
      font-size: 1.5625rem;
      color: white; }

.main-section .main-title {
  text-align: center;
  font-size: 3.125rem; }
.main-section .main-text {
  padding-left: 3.75rem; }
.main-section .main-img {
  background-color: black;
  width: 18.75rem;
  height: 18.75rem; }

.layout-container {
  display: grid;
  grid-template: 'header     header'     100vh 'aside      main'       auto 'aside      main'       auto 'footer     footer'     30vh / 3.75rem auto; }
  .layout-container .header {
    grid-area: header;
    background: linear-gradient(#000000de, #00000063), url(../images/bg-header.jpg);
    background-attachment: fixed; }
  .layout-container .aside {
    grid-area: aside; }
  .layout-container .main {
    grid-area: main; }
  .layout-container .footer {
    grid-area: footer; }

.main-section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3.125rem; }
  .main-section .main-title {
    width: 100%; }
  .main-section .main-text {
    width: 50%; }
  .main-section .main-img {
    width: 40%; }

.main-education {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.footer {
  background: #302511; }

.paralax {
  width: 100%; }

.paralax-top {
  background: url(../images/img-main-top.jpg) no-repeat fixed;
  height: 50vh;
  background-size: cover; }

.paralax-mid {
  background: url(../images/bg-main-mid.jpg) no-repeat fixed;
  height: 50vh;
  background-size: cover; }

.paralax-bot {
  background: url(../images/img-main-bot.jpg) no-repeat fixed;
  height: 50vh;
  background-size: cover; }

.skills-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%; }

.portfolio-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%; }
  .portfolio-container .portfolio-image {
    width: 18.75rem;
    height: 18.75rem;
    background-color: black; }

.aside:hover {
  width: 18.75rem;
  background: linear-gradient(#0000009f, black), url(../images/bg-aside.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.aside-wrap:hover .aside-wrap-text,
.aside-wrap:hover .aside-wrap-img {
  color: #b8a27d; }

.aside-wrap-link {
  text-decoration: none; }
  .aside-wrap-link:link {
    color: white; }
  .aside-wrap-link:visited {
    color: white; }

/*# sourceMappingURL=main.css.map */
