
// Header******************************************************************************************
.header {
    display: flex;
    justify-content: center;

    .header-center-wrap {
        align-self: center;
        margin-top: -9.375rem;

        .header-title {
            text-align: center;
            font-size: 6.875rem;
            color: white;
        }

        .header-button-wrap {
            display: flex;
            justify-content: center;
            .header-button {
                margin: 0 0.625rem;
                width: 10rem;
                height: 2.5rem;
                border: solid black 0.0625rem ;
                background-color: white;
            }
        }
    }
}
// side-bar**************************************************************************************** 
.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    position: sticky;
    background-color: $secondary-brown;
    width: 3.75rem;
    transition: all ease 180ms;
    height: 100vh;

    &-wrap {
        color: white;
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        margin-left: 0.875rem;
        &-text {
            margin-left: 3.125rem;
            font-size: 1.5625rem;
            overflow: hidden;
        }

    }
}
// main********************************************************************************************
// about***********************************************************************
.main-about {
    width: 100%;
    .main-about-title {
        text-align: center;
        font-size: 3.125rem;
    }
    .main-about-text {
        padding-left: 3.75rem;
    }
    .main-about-img {
        top: 0;
    }
}