
// layout container********************************************************************************
.layout-container {
    display: grid;
    grid-template:
        'header     header'     100vh
        'aside      main'       auto
        'aside      main'       10vh
        'footer     footer'     100vh / 3.75rem auto;

    .header {
        grid-area: header;
        background: linear-gradient(#000000de, #00000063), url(../images/bg-header.jpg);
        background-attachment: fixed;
    }
    .aside {
        grid-area: aside;
    }
    .main {
        grid-area: main;
    }
    .footer {
        grid-area: footer;
    }
}

// specific sections***********************************************************
.main-section{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3.125rem;

    .main-title {
        width: 100%;
    }
    .main-text {
        width: 50%;
    }
    .main-img {
        width: 40%;
    }
}
