
// aside states************************************************************************************
.aside {
    &:hover {
        width: 18.75rem;
        background-color: $dark-brown;
    }
    &-wrap:hover
    .aside-wrap-link {
        color: red;
    }
}