
// aside states************************************************************************************
.aside {
    &:hover {
        width: 18.75rem;
        background:linear-gradient(#0000009f, black), url(../images/bg-aside.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.aside-wrap:hover .aside-wrap-text,
.aside-wrap:hover .aside-wrap-img {
    color: lighten($cream, $amount: 10%);
}
.aside-wrap-link {
    text-decoration: none;
    &:link {
        color: white;
    }
    &:visited {
        color: white;
    }
}